
* 
{ 
  box-sizing: border-box;
 }
 h2
{ 
  text-align: center
 }
img{
  width: 100%;
}
.addingtodo{
  margin-top: 20px;
}
.done{
  text-decoration: line-through;
}
/*.icon{
    width:100px;
    height:100px;
    float: center;
    background:palevioletred;
    margin-top: 20px;
    margin-left: 600px;
}*/
body{
  background-color: #ecc6d9
}